body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.conteudo-caixa {
    width: 60%;
    margin-bottom: 3rem;
}

.grid__principal {
    display: grid;
    grid-template-areas:
        "cabecalho-area"
        "preco-area"
        "quemsomos-area";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.grid__cabecalho {
    grid-area: cabecalho-area;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #fdfdfd;
    padding: 3rem;
    border-radius: 20px 20px 0 0;
}

.cabecalho__main {
    display: grid;
    grid-template-areas:
        "cabecalho-titutlo"
        "cabecalho-subtitutlo"
        "cabecalho-descricao";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: start;
}

.cabecalho__titulo {
    grid-area: cabecalho-titulo;
    grid-column: auto;
    grid-row: 1 / 2;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.cabecalho__subtitulo {
    grid-area: cabecalho-subtitulo;
    grid-column: auto;
    grid-row: 2 / 3;
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.cabecalho__descricao {
    grid-area: cabecalho-descricao;
    grid-column: auto;
    grid-row: 3 / 4;
}

.cabecalho__descricao___lista {
    color: hsl(218, 22%, 67%);
    line-height: 1.5rem;
}

.grid__price {
    grid-area: preco-area;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 3rem;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 20px;
}

.price__main {
    display: grid;
    grid-template-areas:
        "preco-titulo"
        "preco-valor"
        "preco-descricao"
        "preco-botao";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    text-align: start;
}

.price__titulo {
    grid-area: preco-titulo;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    color: #fdfdfd;
    padding-bottom: 1.5rem;
}

.price__valor {
    grid-area: preco-valor;
    grid-row: 2 / 3;
    font-size: 2rem;
    color: #fdfdfd;
    font-weight: 700;
    padding-bottom: .8rem;
}

.price__valor span {
    vertical-align: 30%;
    font-weight: 500;
    font-size: 1rem;
    color: #f0f0f062;

}

.price__descricao {
    grid-area: preco-descricao;
    grid-row: 3 / 4;
    color: #fdfdfd;
    padding-bottom: 2rem;
}

.price__botao {
    grid-area: preco-botao;
    grid-row: 4 / 5;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    color: #fdfdfd;
    padding: 1rem;
    border-radius: .3rem;
}

.price__botao:visited,
.price__botao:active,
.price__botao:link,
.price__botao:hover {
    text-decoration: none;
}

.grid__quemsomos {
    grid-area: quemsomos-area;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 2rem;
}